snippet viewport
	%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
snippet container
	.container
snippet container-fluid
	.container-fluid
snippet row
	.row
snippet container-fluid
	.container-fluid
		.row
			 ${1:...}
snippet col
	.col-${1:}
